<p id="notice"><%= notice %></p>

<h1>Tournament Logs</h1>

<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Player</th>
      <th scope='col'>Points</th>
      <th scope='col'>Date</th>
      <th scope='col' colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_logs.sort_by{ |tl| [tl.date, tl.points] }.reverse.each do |tournament_log| %>
      <%= render partial: '/tournament_logs/log_row', locals: { tournament_log: tournament_log } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament Log', new_tournament_log_path %>
